<h1>Listing outdoors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Description</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @outdoors.each do |outdoor| %>
      <tr>
        <td><%= outdoor.name %></td>
        <td><%= outdoor.code %></td>
        <td><%= outdoor.description %></td>
        <td><%= outdoor.address %></td>
        <td><%= link_to 'Show', outdoor %></td>
        <td><%= link_to 'Edit', edit_outdoor_path(outdoor) %></td>
        <td><%= link_to 'Destroy', outdoor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div style='width: 800px;'>
  <div id="map2" style='width: 800px; height: 400px;'></div>
</div>

<%= link_to 'New Outdoor', new_outdoor_path %>


<%= javascript_tag do %>
  buildMap(<%= raw  @hash.to_json %>);
<% end %>