
    <h2 class="form-signin-heading">Entrar</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="form-group">  

      <%= f.email_field :email, autofocus: true, :class => "form-control input-group", :placeholder => "E-mail" %>
  </div>

  <div class="form-group">
    <%= f.password_field :password, autocomplete: "off", :class => "form-control input-group", :placeholder => "Senha"  %>
  </div>
<div class="form-group">
    <% if devise_mapping.rememberable? -%>
      <label class="checkbox">
        <%= f.check_box :remember_me, :class => "checkbox input-group"%> Lembrar-me
      </label>      
    <% end -%>
</div>

    <%= f.submit "Entrar", :class => "btn btn-lg btn-primary btn-block" %>
    <%= render "devise/shared/links" %>

    <% end %>

