<%= form_for(@physical_profile, url: external_url) do |f| %>
  <% if @physical_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@physical_profile.errors.count, "error") %> prohibited this physical_profile from being saved:</h2>

      <ul>
      <% @physical_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :person do |person_form| %>
    <div class="field">
      <%= person_form.label :name %><br />
      <%= person_form.text_field :name, autofocus: true %>
    </div>

    <div class="field">
      <%= person_form.label :telephone %><br />
      <%= person_form.text_field :telephone %>
    </div>

    <div class="field">
      <%= f.label :cpf %><br />
      <%= f.number_field :cpf %>
    </div>

    <%= person_form.fields_for :user do |user_form| %>
      <div class="field">
        <%= user_form.label :email %><br />
        <%= user_form.email_field :email %>
      </div>

      <div class="field">
        <%= user_form.label :password %>
        <% if @validatable %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= user_form.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= user_form.label :password_confirmation %><br />
        <%= user_form.password_field :password_confirmation, autocomplete: "off" %>
      </div>    
    <% end %>
  
  <% end %>

  <div class="field">
    <%= f.label :type %><br>
    <%= f.select :type, PhysicalProfile.types.map {|r| [r.humanize, r.camelcase]}, {} %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
