<%= form_for(@outdoor, url: external_url) do |f| %>
  <% if @outdoor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@outdoor.errors.count, "error") %> prohibited this outdoor from being saved:</h2>
      <ul>
      <% @outdoor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :code, placeholder: 'Código', class: 'form-control' %>
  </div>



  <div class="form-group">
    <%= f.text_area :description, placeholder: 'Descrição', class: 'form-control' %>
  </div>



  <div class="form-group">
    <%= f.number_field :price, placeholder: 'Preço', class: 'form-control', :step => 'any' %>
  </div>


  <div class="form-group">
    <%= f.text_field :address, placeholder: 'Endereço', class: 'form-control' %>
  </div>



  <div class="form-group">
  <%= link_to('javascript:codeAddress();', :class => "btn btn-primary btn-sm", :id => :show_on_map, :title => "Clique para exibir no mapa!") do %>
     Ver no Mapa
  <% end %>

  <%= link_to("javascript:newMarkerStreetView();", :class => "btn btn-primary btn-sm", :title => "Clique para exibir no Street View!") do %>
   <i class="fa fa-globe" style="font-size: 20px;"></i>
  <% end %>
  </div>



  <div class="form-group">
    <p class="help-block">Inserir imagem do outdoor.</p>
    <%= f.file_field :image,  class: 'form-control'%>

  </div>



   <div class="form-group checkbox">
    <%= f.check_box :avaliable %>
    Habilitado
  </div>


<%= f.hidden_field :latitude, class: 'form-control', :step => 'any' %>
<%= f.hidden_field :longitude, class: 'form-control', :step => 'any' %>

<div class="actions">
<%= f.submit "Enviar", :class => "btn btn-primary btn-lg btn-block"%>
</div>

<% end %>
<br>