<h1>Editing outdoor</h1>

<%= render partial: 'form', locals: {external_url: dashboard_outdoor_path} %>

<%= link_to 'Show', dashboard_outdoor_path(@outdoor) %> |
<%= link_to 'Back', dashboard_outdoors_path %>

<%= javascript_tag do %>
  buildEditMap(<%= raw  @hash.to_json %>, <%= @outdoor.latitude %>, <%= @outdoor.longitude %>);
<% end %>