<h1>Editing outdoor</h1>

<%= render 'form' %>

<%= link_to 'Show', @outdoor %> |
<%= link_to 'Back', dashboard_outdoors_path %>

<%= javascript_tag do %>
  buildMap(<%= raw  @hash.to_json %>);
<% end %>