<!DOCTYPE html>
<html>
<head>
  <title>iMedia - Soluções em MOOH</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag "fav.ico", type: 'image/vnd.microsoft.icon'%>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- begin template -->
<!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
  <%= link_to(root_path) do %>
        <%= image_tag("logo-site.png",  :class => "") if @logo.nil? %>
        <%= image_tag(@logo.image.url(:logo),  :class => "navbar-brand") unless @logo.nil? %>
        <% end %>  
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
  
    <li> <%= link_to " Medias", dashboard_outdoors_path, :class => 'fa fa-map-marker' %> </li>

<li>
<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-users"></i></a>
                <ul class="dropdown-menu">    


            <li><%= link_to " Perfis Fisico", dashboard_physical_profiles_path, :class => 'fa fa-user' %> </li>

            <li> <%= link_to " Manager", dashboard_managers_path %> </li>

            <li> <%= link_to " Secretary", dashboard_secretaries_path %> </li>

<li role="presentation" class="divider"></li>

            <li><%= link_to " Perfis Juridico", dashboard_legal_profiles_path , :class => 'fa fa-building' %> </li>

            <li><%= link_to " Contractors", '#' %> </li>

             <li><%= link_to " Media Companys", '#' %> </li>

          </ul>
          </li>


<li>
<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cogs"></i></a>
                <ul class="dropdown-menu">    

<li><%= link_to "Advertisers", dashboard_physical_profiles_path %> </li>

<li role="presentation" class="divider"></li>

<li><%= link_to "Agency", dashboard_physical_profiles_path %> </li>

<li role="presentation" class="divider"></li>

<li><%= link_to "Media Company", dashboard_physical_profiles_path %> </li>

          </ul>
          </li>
  
<% if user_signed_in? %>
       <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">         
            <%= current_user.email %><span class="caret"></span></a>
          <ul id="g-account-menu" class="dropdown-menu" role="menu">
            <li><a href="#">Meu Perfil</a></li>
            <li role="presentation" class="divider"></li>
            <li><%= link_to "Sair", destroy_user_session_path, method: :delete, :class => 'fa fa-sign-out'  %></li>
          </ul>
        </li>
<% else %>
        <li> <%= link_to " Entrar", new_user_session_path, :class => 'fa fa-sign-in' %> </li>
<% end %>



            
         </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

  <div id="header">
    <div class="container">
      <div class="row jumbotron">    
          
          <%= yield %>           

  </div> <!-- /container -->
    </div>     
  </div>
    
  <div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
          <p class="copyright">Copyright &copy; 2015 - iMedia</p>
      </div>
    </div>    
  </div>
</div>

</body>
</html>
