<!DOCTYPE html>
<html>
<head>
  <title>iMedia - Soluções em MOOH</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag "fav.ico", type: 'image/vnd.microsoft.icon'%>
  <%= csrf_meta_tags %>
</head>
<body>

 <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
  <%= link_to(root_path) do %>
        <%= image_tag("logo-site.png",  :class => "") if @logo.nil? %>
        <%= image_tag(@logo.image.url(:logo),  :class => "navbar-brand") unless @logo.nil? %>
        <% end %>  
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
         
  <li> <%= link_to "Outdoor", dashboard_outdoors_path, 'data-no-turbolink' => true %> </li>
  <li> <%= link_to "Dashboard", dashboard_root_path, 'data-no-turbolink' => true %> </li>
  
                     
            <% if user_signed_in? %>
            <li>
              <a href="#">  <strong><%= current_user.email %></strong></a>
            </li>
            <li> <%= link_to "Sair", destroy_user_session_path, method: :delete %> </li>
            <% else %>
            <li> <%= link_to "Entrar", new_user_session_path  %> </li>
            <% end %>
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
   
<div id="map"></div>

<div id="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 jumbotron">

        <%= yield %>           

        </div> <!-- /container -->
      
   <div class="col-lg-6 col-lg-offset-1 jumbotron">
          <div>
            <!--map-canvas will be postioned here-->
          </div>
   </div>
   </div>   
   </div>
</div>

  <div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
          <p class="copyright">Copyright &copy; 2015 - iMedia</p>
      </div>
    </div>    
  </div> 
  </div>

</body>
</html>
