<!DOCTYPE html>
<html>
<head>
  <title>iMedia - Soluções em MOOH</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag "fav.ico", type: 'image/vnd.microsoft.icon'%>
  <%= csrf_meta_tags %>


</head>
<body>

 <!-- begin template -->

  <div class="container">
    <nav class="navbar navbar-fixed-top navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
          <%= link_to(root_path) do %>
          <%= image_tag("logo-site.png",  :class => "") if @logo.nil? %>
          <%= image_tag(@logo.image.url(:logo),  :class => "navbar-brand") unless @logo.nil? %>
          <% end %>  
          
          
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="O que você procura?">
            </div>
            <button type="submit" class="btn btn-default">Pesquisar</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Contato</a></li>

            
            
            <% if user_signed_in? %>
            <li>
              <a href="#">  <strong><%= current_user.email %></strong></a>
            </li>
            <li> <%= link_to "Sair", destroy_user_session_path, method: :delete %> </li>
            <% else %>
            <li> <%= link_to "Entrar", new_user_session_path  %> </li>
            <% end %>
            
            
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>


 <div id="map"></div>
      
      <div class="row">

        <%= yield %>

      </div>


</body>
</html>
